* { 
    margin: 0; 
    padding: 0;
}

body{
    min-height: 100%;
    background-color: #7f57a0;
}

.Titulo_principal{
    background-color: rgb(253, 253, 90);
    position:absolute;
    top: 1%;
    left: 7%;
    width: 50%;
    height: auto;
    justify-content: center;
    border: outset 7px #711fb4;
    align-items: center;
    text-align: center;
    font-size: 46px;
    color: #000000;
    font-family: 'Serif';
}

.Vez{
    background-color: rgb(253, 253, 90);
    position:absolute;
    top: 10%;
    left: 1%;
    width: 35%;
    height: 7%;
    display: flex;
    border: outset 7px #711fb4;
    align-items: center;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    font-family: 'Serif';
}

.Tabuleiro{
    position: absolute;
    top: 1%;
    left: 68%;
    width: 31.5%;
    height: 98%;
    text-align: center;
    font-size: 60px;
    border: outset 7px #711fb4;
    background-color:rgb(253, 253, 90);
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium';
}

#jogadores{
    font-size: 20px;
    font-family: 'Serif';
}

#dado_1{
    position: absolute;
    top: 35%;
    left: 1%;
}

#dado_2{
    position: absolute;
    top: 35%;
    left: 29%;
}

#dado_3{
    position: absolute;
    top: 35%;
    left: 57%;
}

#operacao_1{
    position: absolute;
    top: 42%;
    left: 17%;
    display: flex;
    width: 100px;
    height: 100px;
}

#operacao_2{
    position: absolute;
    top: 42%;
    left: 45%;
    display: flex;
    width: 100px;
    height: 100px;
}

#tampinha_1 {
    position: absolute;
    top: 90%;
    left: 70%;
    width: 70px;
    height: 70px;
    display: flex;
}

#tampinha_2 {
    position: absolute;
    top: 90%;
    left: 76%;
    width: 70px;
    height: 70px;
    display: flex;
}

#tampinha_3 {
    position: absolute;
    top: 90%;
    left: 82%;
    width: 70px;
    height: 70px;
    display: flex;
}

#tampinha_4 {
    position: absolute;
    top: 90%;
    left: 88%;
    width: 70px;
    height: 70px;
    display: flex;
}

#tampinha_5 {
    position: absolute;
    top: 90%;
    left: 94%;
    width: 70px;
    height: 70px;
    display: flex;
}

#resposta {
    position: absolute;
    top: 78%;
    left: 20%;
    width: 20%;
    height: 70px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    border: outset 7px #711fb4;
    background-color:rgb(253, 253, 90);
    border-radius: 10px;
}

#botao_resposta{
    position: absolute;
    top: 70%;
    left: 45%;
    width: 20%;
    justify-content: center;
    border: outset 7px #711fb4;
    border-radius: 10px;
    color: #000000;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
    font-weight: 500;
    background-color: rgb(253, 253, 90);
    padding: 20px;
    cursor: pointer;  
}

#botao_resposta:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
}

#botao_resposta:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.tampas{
    position: absolute;
    top: 11.3%;
    left: 17.9%;
    width: 50px;
    height: 50px;
    display: flex;
}

#botao_prox{
    position: absolute;
    top: 90%;
    left: 45%;
    width: 20%;
    justify-content: center;
    border: outset 7px #711fb4;
    border-radius: 10px;
    color: #000000;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
    font-weight: 500;
    background-color: rgb(253, 253, 90);
    padding: 20px;
    cursor: pointer;  
}

#botao_prox:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
}

#botao_prox:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

#rodar_dado{
    position: absolute;
    top: 80%;
    left: 3%;
    width: 10%;
    justify-content: center;
    border: outset 7px #711fb4;
    border-radius: 10px;
    color: #000000;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
    font-weight: 500;
    background-color: rgb(253, 253, 90);
    padding: 20px;
    cursor: pointer;  
}

#rodar_dado:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
}

#rodar_dado:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

#nome{
    position:absolute;
    top: 10.95%;
    left: 20%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 40px;
    font-family: 'Serif';
}

#placar{
    position: absolute;
    top: 10%;
    left: 43.5%;
    width: 20%;
    height: 10%;
    font-size: 20px;
    text-align: left;
    border: outset 7px #711fb4;
    background-color:rgb(253, 253, 90);
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium';
}

#placar_interno_tabela{
    text-align: center;
}