* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #7f57a0;
}

.titulo1{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 46px;
    color: #000000;
    font-family: 'Serif';
    text-align: center;
}

.titulo2{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #000000;
    font-family: 'Serif';
    text-align: center;
}

form{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(253, 253, 90);
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
}

#botao{
    position: absolute;
    top: 91%;
    left: 5.5%;
    width: 90%;
    background-color: #711fb4;
    border-radius: 10px;
    cursor: pointer;
}

.Regras{
    position: absolute;
    top: 50%;
    left: 17%;
    transform: translate(-50%, -50%);
    background-color: rgb(253, 253, 90);
    width: 500px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
    font-family: 'arial';
}

.sub_titulo{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #000000;
    font-family: 'Serif';
    text-align: center;
}


input{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
}

/* Cor de fundo do input, da letra, definindo sem bordas e o ponteiro do mouse a "mãozinha"*/
input[type="submit"]{
    background-color: #711fb4;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

/* Cor de fundo do input quando passar o mouse em cima */
input[type="submit"]:hover{
    background-color: #000000;
}

/* Tirar a borda do input quando tiver ativado/clicado */
input[type="submit"]:active{
    border: none;
}

/* Cor de fundo do input */
input[type="text"]{
    background-color: rgb(253, 253, 90);
}


/* Cor de fundo do autocomplete */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgb(253, 253, 90) inset;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
    -webkit-text-fill-color: rgb(3, 3, 3) !important;
}